Makefile
Makefile.in
stamp-h
stamp-h1
stamp-h.in
confdefs.h
config.*
configure
configure.lineno
configure.scan
depcomp
compile
missing
mkinstalldirs
install-sh
aclocal.m4
libtool
ltconfig
ltmain.sh
autom4te.cache
autoscan.log
*.rpm
*.deb
*.dsc
*.changes
*.tar.gz
*.diff.gz
*~
.gitignore
*.o
**/.DS_Store
*.xml
*.iml
ylwrap
test-driver
*.Plo
*.a
*.dylib
*.la
*.lai
*.lo
*.Po
.*
!/.gitignore
libevent/sample/becat
libevent/sample/dns-example
libevent/sample/event-read-fifo
libevent/sample/hello-world
libevent/sample/http-connect
libevent/sample/http-server
libevent/sample/https-client
libevent/sample/le-proxy
libevent/sample/signal-test
libevent/sample/time-test
libevent/sample/watch-timing
libevent/test/bench
libevent/test/bench_cascade
libevent/test/bench_http
libevent/test/bench_httpclient
libevent/test/regress
libevent/test/test-changelist
libevent/test/test-closed
libevent/test/test-dumpevents
libevent/test/test-eof
libevent/test/test-fdleak
libevent/test/test-init
libevent/test/test-ratelim
libevent/test/test-time
libevent/test/test-weof
libevent/test/rpcgen-attempted
